<a href="https://colab.research.google.com/github/ishikalamba222/Parkinson-s-detector-ML/blob/main/ML_detection_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd   #we wil import libraries first
import numpy as np

In [ ]:
dataset=pd.read_csv('parkinsons.data')
dataset.head()

             name  MDVP:Fo(Hz)  MDVP:Fhi(Hz)  ...   spread2        D2       PPE
0  phon_R01_S01_1      119.992       157.302  ...  0.266482  2.301442  0.284654
1  phon_R01_S01_2      122.400       148.650  ...  0.335590  2.486855  0.368674
2  phon_R01_S01_3      116.682       131.111  ...  0.311173  2.342259  0.332634
3  phon_R01_S01_4      116.676       137.871  ...  0.334147  2.405554  0.368975
4  phon_R01_S01_5      116.014       141.781  ...  0.234513  2.332180  0.410335

[5 rows x 24 columns]

In [ ]:
dataset.shape
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              195 non-null    object
 1   MDVP:Fo(Hz)       195 non-null    float64
 2   MDVP:Fhi(Hz)      195 non-null    float64
 3   MDVP:Flo(Hz)      195 non-null    float64
 4   MDVP:Jitter(%)    195 non-null    float64
 5   MDVP:Jitter(Abs)  195 non-null    float64
 6   MDVP:RAP          195 non-null    float64
 7   MDVP:PPQ          195 non-null    float64
 8   Jitter:DDP        195 non-null    float64
 9   MDVP:Shimmer      195 non-null    float64
 10  MDVP:Shimmer(dB)  195 non-null    float64
 11  Shimmer:APQ3      195 non-null    float64
 12  Shimmer:APQ5      195 non-null    float64
 13  MDVP:APQ          195 non-null    float64
 14  Shimmer:DDA       195 non-null    float64
 15  NHR               195 non-null    float64
 16  HNR               195 non-null    float64
 17  status            195 non-null    int64
 18  RPDE              195 non-null    float64
 19  DFA               195 non-null    float64
 20  spread1           195 non-null    float64
 21  spread2           195 non-null    float64
 22  D2                195 non-null    float64
 23  PPE               195 non-null    float64
dtypes: float64(22), int64(1), object(1)
memory usage: 36.7+ KB

In [ ]:
dataset.isnull()    #to check any missing data

      name  MDVP:Fo(Hz)  MDVP:Fhi(Hz)  ...  spread2     D2    PPE
0    False        False         False  ...    False  False  False
1    False        False         False  ...    False  False  False
2    False        False         False  ...    False  False  False
3    False        False         False  ...    False  False  False
4    False        False         False  ...    False  False  False
..     ...          ...           ...  ...      ...    ...    ...
190  False        False         False  ...    False  False  False
191  False        False         False  ...    False  False  False
192  False        False         False  ...    False  False  False
193  False        False         False  ...    False  False  False
194  False        False         False  ...    False  False  False

[195 rows x 24 columns]

In [ ]:
dataset['status'].value_counts()  #to check how many people have disease, 1-have disease, 0-healthy

1    147
0     48
Name: status, dtype: int64

In [ ]:
dataset.groupby('status').mean()

        MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)  ...   spread2        D2       PPE
status                                           ...
0        181.937771    223.636750    145.207292  ...  0.160292  2.154491  0.123017
1        145.180762    188.441463    106.893558  ...  0.248133  2.456058  0.233828

[2 rows x 22 columns]

In [ ]:
x=dataset.drop(columns=['name','status'],axis=1)
y=dataset['status']

In [ ]:
print(x)

     MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)  ...   spread2        D2       PPE
0        119.992       157.302        74.997  ...  0.266482  2.301442  0.284654
1        122.400       148.650       113.819  ...  0.335590  2.486855  0.368674
2        116.682       131.111       111.555  ...  0.311173  2.342259  0.332634
3        116.676       137.871       111.366  ...  0.334147  2.405554  0.368975
4        116.014       141.781       110.655  ...  0.234513  2.332180  0.410335
..           ...           ...           ...  ...       ...       ...       ...
190      174.188       230.978        94.261  ...  0.121952  2.657476  0.133050
191      209.516       253.017        89.488  ...  0.129303  2.784312  0.168895
192      174.688       240.005        74.287  ...  0.158453  2.679772  0.131728
193      198.764       396.961        74.904  ...  0.207454  2.138608  0.123306
194      214.289       260.277        77.973  ...  0.190667  2.555477  0.148569

[195 rows x 22 columns]

In [ ]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
190    0
191    0
192    0
193    0
194    0
Name: status, Length: 195, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
print(x_train)

     MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)  ...   spread2        D2       PPE
26       171.041       208.313        75.501  ...  0.226278  2.589702  0.147403
139      116.150       131.731       109.815  ...  0.233070  2.445646  0.184985
143      202.805       231.508        86.232  ...  0.213353  2.470746  0.189032
71       136.358       176.595        65.750  ...  0.224852  2.642276  0.242981
8         95.730       132.068        91.754  ...  0.327769  2.322511  0.231571
..           ...           ...           ...  ...       ...       ...       ...
103      150.258       154.609        75.349  ...  0.089267  2.004055  0.113942
67       136.969       166.607        66.004  ...  0.205660  2.291558  0.226247
117      170.756       450.247        79.032  ...  0.372114  2.975889  0.282780
47       252.455       261.487       182.786  ...  0.200873  2.028612  0.086398
172      110.739       113.597       100.139  ...  0.192375  1.889002  0.174152

[156 rows x 22 columns]

In [ ]:
print(x_train.shape)

(156, 22)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
print(x_train)

[[ 0.42106183  0.05057195 -0.93690774 ... -0.0748254   0.49483246
  -0.64440366]
 [-0.95694554 -0.73133513 -0.10848063 ...  0.00608646  0.11335106
  -0.22920446]
 [ 1.21847901  0.28739437 -0.67783415 ... -0.22879857  0.17981954
  -0.18449393]
 ...
 [ 0.41390707  2.52073344 -0.85166044 ...  1.6624923   1.51751222
   0.85121716]
 [ 2.46491405  0.59348186  1.65322464 ... -0.37747054 -0.99101608
  -1.31837596]
 [-1.09278562 -0.91648442 -0.34208385 ... -0.47870566 -1.36072382
  -0.3488855 ]]

In [ ]:

x_test=sc.fit(x_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
svc=RandomForestClassifier(n_estimators=10,random_state=0)
svc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
prediction=svc.predict(x_train)
#from sklearn.metrics import accuracy_score
#accuracy

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,prediction)

1.0

In [ ]:
print(are)
if are[0]==0:
  print("The person has the disease")
else:
  print("The person does not have the disease")

[1]
The person does not have the disease